body {
    background-color: black;
}

.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */ /* Black background */
    color: white; /* White text color */
    text-align: center; /* Center text alignment */
  }
  
  .landing-container h1 {
    font-size: 3em; /* Large font size for the heading */
  }