body {
    background-color: black;
}

.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    color: white; 
    text-align: center; 
  }
  
  .landing-container h1 {
    font-size: 3em; 
  }