body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1d1f22;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    width: 900px;
    background-color: #2a2d32;
    border-radius: 10px;
    overflow: hidden;
    margin: 16px;
    border: 1px solid white;
  }
  
  .login-box {
    padding: 40px;
    width: 50%;
    box-sizing: border-box;
  }
  
  h2 {
    color: #f6a622;
    margin-bottom: 10px;
  }
  
  p {
    color: #a5a5a5;
    margin-bottom: 30px;
  }
  
  .google-btn {
    background-color: transparent;
    border: 1px solid #f6a622;
    color: #f6a622;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .google-btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .google-logo {
    height: 20px;
    margin-right: 8px;
  }
  
  .separator {
    text-align: left;
    margin: 20px 0;
  }
  
  .separator span {
    color: #a5a5a5;
  }
  
  .input-box {
    margin-bottom: 16px;
  }
  
  .register-input-field {
    width: 93%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #f6a622;
    background-color: #2a2d32;
    color: white;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
  }
  
  .checkbox {
    margin-right: 5px;
  }
  
  .accept-terms {
    text-decoration: none;
    text-align: left;
  }
  
  
  .login-to-account {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .terms-and-conditions {
    color: #f6a622;
    text-decoration: none;
  }
  
  .image-box {
    width: 50%;
    position: relative;
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
  }
  